.mailchimp__getting-started-title {
	margin: 0;
}

.mailchimp__getting-started-title-text {
	font-size: 24px;
	font-weight: 300;
}

.mailchimp__getting-started-subtitle-text {
	font-size: 12px;
	color: $gray;
}

.mailchimp__getting-started-content {
	width: 100%;
	@include breakpoint( ">660px" ) {
		display: inline-flex;
	}
}

.mailchimp__getting-started-list-header {
	font-weight: 500;
}

.mailchimp__getting-started-list {
	color: $gray-text-min;
	list-style: none;
	margin: 0 0 16px 0;
	font-size: 14px;

	li {
		margin: 6px 0;

		.gridicon {
			display: inline;
			margin-right: 8px;
			vertical-align: bottom;
			color: $alert-green;
		}
	}
}

&.dialog__content.mailchimp__setup {
	margin: 0px;
	padding: 0px;
	width: 500px;
	min-height: 400px;
	text-align: left;
}

.mailchimp__setup-dialog-content {
	padding-top: 24px;
	padding-left: 24px;
	padding-bottom: 24px;
	padding-right: 24px;
}

.mailchimp__setup-dialog-progress {
	margin: 0;
}

.mailchimp__setup-dialog-title {
	font-size: 24px;
	padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 10px;
}

.setup-steps__login-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
}

.setup-steps__campaign-defaults,
.setup-steps__store-info-field,
.setup-steps__mailchimp-key-input {
	.form-text-input {
		text-align: left;
	}
}

.setup-steps__campaign-defaults-title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.setup-steps__mailchimp-api-intro-notice {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.setup-steps__mailchimp-api-directions-bold {
	font-weight: 500;
}

.setup-steps__mailchimp-api-directions {
	margin-bottom: 10px;
}

.setup-steps__mailchimp-login-button {
	margin-top: 10px;
	.gridicon {
		padding-left: 10px;
	}
}

.mailchimp__loading {
	background-color: lighten( $gray, 30% );
	animation: loading-fade 1.6s ease-in-out infinite;
}

.mailchimp__getting-started-list-header,
.mailchimp__getting-started-list,
.mailchimp__getting-started-button {
	@include breakpoint( ">660px" ) {
		margin-left: 24px;
	}
}

&.is-busy {
	animation: button__busy-animation 3000ms infinite linear;
	background-size: 120px 100%;
	background-image: linear-gradient( -45deg, lighten( $gray, 30% ) 28%, $white 28%, $white 72%, lighten( $gray, 30% ) 72%);
}

.mailchimp__dashboard{
	margin: 0px;
	padding: 0px;
}

.mailchimp__dashboard-first-section {
	display: flex;
}

.mailchimp__dashboard-title {
	flex-grow: 1;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
}

.mailchimp__dashboard-title-and-slogan {
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );
	flex-grow: 1;
	padding: 16px;
}

.mailchimp__dashboard-sync-status {
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );
	flex-grow: 0;
	width: 250px;
	padding: 16px;
}

.mailchimp__account-info {
	padding-right: 4px;
	font-weight: 500;
}

.mailchimp__dashboard-settings {
	display: flex;
	padding-left: 16px;
	padding-top: 32px;
	padding-right: 0px;
	padding-bottom: 16px;
}

.mailchimp__dashboard-settings-form {
	flex-grow: 1;
	padding-right: 16px;
}

.mailchimp__dashboard-settings-preview {
	padding: 16px;
	width: 250px;
	flex-grow: 0;
}

.mailchimp__dashboard-settings-save {
	float: right;
}

.mailchimp__dashboard-settings-preview-view {
	display: flex;
	align-items: center;
	min-width: 160px;
	min-height:  40px;
	background: lighten( $gray, 30% );
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px $gray;
}
